@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Lato', sans-serif; }

.mat-slider-thumb-label-text {
  font-size: 8px;
}


.fixed-button {
  position: fixed;
  right: -200px;
  top: 100px;
}

.fixed-button:hover {
  right: 0px;
}
