.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}


.mission {
  text-align: center;
}

.mission > h1 {
  font-family: 'Alegreya';
  font-size: xx-large;
}

.datasets-summary {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}


mat-grid-tile {
  /*background: lightblue;*/
}
