<div class="mission">
  <h1>Life Sciences Analytics</h1>
  <p style="width: 80%; margin-left: auto; margin-right: auto;">Science Radar implementa un flujo de trabajo que parte de la recolección y pre-procesamiento de información hasta la generación de un reporte unificado que facilita el análisis de frentes de investigación y permite su exploración a través de una interfaz gráfica haciendo uso de técnicas de visualización de datos científicos. El modelo implementado parte de la relación temporal observada por Guo et. al.(2011) según la cual en un frente Inicialmente, nuevos autores entran al área de investigación de forma acelerada, posteriormente, la aumenta interdisciplinaridad de las referencias a artículos y por último ocurre un cambio súbito en la frecuencia de un grupo de palabras específicas.</p>
</div>
<mat-grid-list cols="2" rowHeight="400px" class="datasets-summary" gutterSize="20px">
  <mat-grid-tile [class.mat-elevation-z8]="true">
    <div style="height: 100%; width: 100%;">
        <a href="/datasets/zika"><img style="width: 100%; height: 80%;" src="https://c2.staticflickr.com/4/3231/2704093152_03d672d2d5_z.jpg?zz=1"
          alt="Aedes aegypti"></a>
        <h3 style="text-align: center"><a href="/datasets/zika">Virus del Zika: Infecciones y prevención (2010-2017)</a></h3>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [class.mat-elevation-z8]="true">
    <div style="height: 100%; width: 100%;">
        <a href="/datasets/hiv"><img style="width: 100%; height: 80%;" src="https://ichef.bbci.co.uk/news/660/cpsprodpb/A7CB/production/_97055924_gettyimages-640012070.jpg"
          alt="HIV"></a>
        <h3 style="text-align: center"><a href="/datasets/hiv">VIH: Replicación y la proteína Nef (2010-2017)</a></h3>
    </div>
  </mat-grid-tile>
  <!-- <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile> -->
</mat-grid-list>
